@charset "UTF-8";

.list-group{
	
	text-align:center;
	justify-content:center;
	
	width:100%;
	margin:5px auto;
	padding:20px;
	list-style:none;
	
}

.pagination{
	list-style:none;
	display:flex;
	justify-content:center;
	padding:5px;

}
.pagination li{
	margin:10px;
	border:1px solid #333;
}

.pagination a{
	display:block;
	text-decorration:none;
	color:#333;
	padding:5px;
}
.pagination a:hover{
	background-color:#333;
	color:aliceblue;
	
}
.active{
	background-color:#C2EEFF;
}
.teacher-btn{
	color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.teacher-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}
.new-btn{
	color: #000;
  background-color: #99FFFF;
  border-bottom: 5px solid #ccc100;
}

.new-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #99FFFF;
  border-bottom: 2px solid #ccc100;
}
.update-icon:before{
	font-family:'FontAwesome';
	content :"\f01e";
	margin-right: 5px;
}
.regist-btn{
	color: #000;
  background-color: #AEFFBD;
  border-bottom: 5px solid #B1F9D0;
}

.regist-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #B1F9D0;
  border-bottom: 2px solid #B1F9D0;
}
.logout-btn{
	color: #000;
  background-color: #FF5192;
  border-bottom: 5px solid #B1F9D0;
}

.logout-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #FFD5EC;
  border-bottom: 2px solid #ccc100;
}

.loginOK{
  text-align:center;
  margin: 0 auto;
  max-width: 500px;
}
.btn-circle-3d-dent {
  display: inline-block;
  text-decoration: none;
  background: #5dc3d0;
  color: rgb(82, 142, 150);
  width: 122px;
  font-size: 20px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #549fa9;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
}

.btn-circle-3d-dent:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
.btn--green.btn--emboss {
  color: #00662d;
  text-shadow: -1px -1px 1px #00ff71;
  border-bottom: 5px solid #00662d;
}

.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}
.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

